@import lib._
<div class="alert alert-warn">
    <h4 class="alert-heading">Switch Off Warning!</h4>
    This version of SEO Dashboard will be switched off soon.
    Please use <a href="http://dashboard.ophan.co.uk">dashboard.ophan.co.uk</a> instead.
    Update your bookmarks!
</div>

@if(Backend.minutesOfData < 10) {
<div class="alert alert-error">
    SEO Dashboard has less than @(Backend.minutesOfData+1) minutes of data, probably due to a restart.
    Take any data with a very big pinch of salt!
</div>
}
