<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link href='http://fonts.googleapis.com/css?family=Reenie+Beanie' rel='stylesheet' type='text/css'>

    @views.html.snippets.includes()

    <style>
        body {
            padding-top: 40px;
        }

        h1 {
            font-family: 'Reenie Beanie', cursive;
            font-size: 80px;
        }

        blockquote p {
            font-size: 12px;
            margin-bottom: 5px;
        }
    </style>
</head>
<body>

@views.html.snippets.topnav()

<div class="container">
    <div class="row-fluid">
        <div class="span6">
            <h2>What is the SEO Dashboard?</h2>

            <p>
                The SEO Dashboard started as a hack day project towards the end of 2011. It aimed to provide
                fast feedback when our content is promoted on external sites such as Google News, by showing
                recent page popularity and referrers.
            </p>

            <p>
                After the hack day completed, the SEO team pleaded with us not to switch it off, and so that
                dashboard was kept running on a developer machine for their use on an ad-hoc basis. Over time,
                it became a home for exploring the feasability and value of building tools around site usage.
            </p>

            <h2>How do you collect the data?</h2>

            <p>
                The initial version of the SEO dashboard took advantage of the fact that (nearly) all requests for pages
                on the Guardian desktop website come to our servers for processing. We processed 10% of the web server
                logs that
                this generated and used this to calculate popularity.
            </p>

            <p>
                Although broadly successful, there are a number of limitations with this
                approach:
            </p>

            <ul>
                <li>it's difficult to distinguish between human traffic and automated (bot) traffic</li>
                <li>it's difficult to determine unique browsers</li>
                <li>it's impossible to identify what link users clicked to navigate between pages</li>
            </ul>

            <p>
                Earlier this year, we switched to collecting data in the same way as other analytics providers
                such as Site Catalyst and Google Analytics do, by adding a small piece of JavaScript to all
                pages on www.guardian.co.uk. This code pings back information about navigation to servers
                running in the <a href="http://aws.amazon.com">Amazon Web Services</a> cloud. We call this
                our <a href="http://en.wikipedia.org/wiki/Clickstream">clickstream</a>.
            </p>

            <p>
                The full historical clickstream is stored for potential offline analysis, using big data
                processing tools such as <a href="http://hadoop.apache.org/">Apache Hadoop</a> or Amazon's
                <a href="http://aws.amazon.com/elasticmapreduce/">Elastic Map Reduce</a>. At the time of
                writing, we haven't pursued this very much.

            <p>

            <p>
                The last week's full clickstream is stored online
                (using <a href="http://www.elasticsearch.org/">elasticsearch</a>) for interactive querying.
                The traffic related tools in this dashboard are driven off that online clickstream.
            </p>


            <h2>What about our sites other than www.guardian.co.uk?</h2>

            <p>The tracking is only present on www.guardian.co.uk. At the moment there's no intention to
                expand the prototype.</p>

        </div>
        <div class="span6">

            <h2>Is this a fully-supported offical product?</h2>

            <p>
                No. The SEO Dashboard and associated tools are a prototype, designed to explore
                the cost, feasibility and value of us processing our own clickstream. Development
                and maintenance are done on a best effort basis, so although all of the people involved are
                passionately excited about the potential of this approach, no one is working on it full time.
            </p>

            <p>
                If you're finding any of the tools useful, or have suggestions or ideas, please drop
                us a line and let us know.
            </p>


            <h2>What&rsquo;s ophan?</h2>

            <p>
                When the SEO dashboard moved from developers desktop to the internet, we needed a domain name.
                As a prototype, it wasn't appropriate to place on a guardian domain, so we had to find something else.
                In true startup style, a combination of wikipedia and
                searches for available (cheap) domain names, ended up at
                <a href="http://en.wikipedia.org/wiki/Ophan">ophan</a>, the "many-eyed ones":

            </p>

            <blockquote cite="http://en.wikipedia.org/wiki/Ophan">
                <p>The <i><b>ophanim</b></i> or <i><b>ofanim</b></i>, also <i><b>Ophde</b></i> (Hebrew "wheels"
                    אְוּפַּנים;
                    singular <i>ofan</i>) refer to the wheels seen on Ezekiel's vision of the chariot (Hebrew <i><a
                            href="http://en.wikipedia.org/wiki/Merkavah" title="Merkavah" class="mw-redirect">merkavah</a></i>) in <a
                            rel="nofollow"
                            class="external text"
                            href="http://bibref.hebtools.com/?book=%20Ezekiel&amp;verse=1:15-21&amp;src=NIV">Ezekiel
                        1:15-21</a>. These are first construed as angels in one of the <a href="http://en.wikipedia.org/wiki/Dead_Sea_scrolls"
                                                                                          title="Dead Sea scrolls"
                                                                                          class="mw-redirect">Dead Sea
                        scrolls</a> (4Q405), and as a class of <a href="http://en.wikipedia.org/wiki/Heaven" title="Heaven">celestial</a>
                    beings in
                    late sections of the <a href="http://en.wikipedia.org/wiki/Book_of_Enoch" title="Book of Enoch">Book of Enoch</a> (61:10,
                    71:7)
                    where with the <a href="http://en.wikipedia.org/wiki/Cherub" title="Cherub">Cherubim</a> and <a href="http://en.wikipedia.org/wiki/Seraph"
                                                                                             title="Seraph">Seraphim</a>
                    they never sleep, but guard the throne of God.</p>

                <p>These "wheels" have been associated with <a rel="nofollow" class="external text"
                                                               href="http://bibref.hebtools.com/?book=%20Daniel&amp;verse=7:9&amp;src=NIV">Daniel
                    7:9</a> (mentioned as <i>gagal</i>, traditionally "the wheels of gagallin", in "fiery flame" and
                    "burning
                    fire") of the four, eye-covered wheels (each composed of two nested wheels), that move next to the
                    winged <a
                            href="http://en.wikipedia.org/wiki/Cherubim" title="Cherubim" class="mw-redirect">Cherubim</a>, beneath the throne
                    of <a
                            href="http://en.wikipedia.org/wiki/God" title="God">God</a>. The four wheels move with the Cherubim because the <a
                            href="http://en.wikipedia.org/wiki/Spirit" title="Spirit">spirit</a> of the Cherubim is in them. These are also
                    referred to
                    as the "many-eyed ones" in the late <a href="http://en.wikipedia.org/wiki/Second_Book_of_Enoch"
                                                           title="Second Book of Enoch">Second
                        Book of Enoch</a> (20:1, 21:1).</p>

                <small>Wikipedia "Ophan"</small>
            </blockquote>


            <h2>Who&rsquo;s behind ophan?</h2>

            <p>
                The tools behind ophan have been developed by <a href="mailto:graham.tackley@@guardian.co.uk">Graham Tackley</a>
                and <a href="mailto:philip.wills@@guardian.co.uk">Philip Wills</a>. Many people have contributed great
                ideas, suggestions and feedback, notably Chris Moran, Mary Hamilton and Stephen Abbott.
            </p>

            <p>
                Please send your experiences and ideas (positive or negative) to Graham and Phil.
            </p>
        </div>
    </div>
</div>

</body>
</html>
