<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link href='http://fonts.googleapis.com/css?family=Reenie+Beanie' rel='stylesheet' type='text/css'>

    @views.html.snippets.includes()

    <style>
        body {
            padding-top: 40px;
        }

        h1 {
            font-family: 'Reenie Beanie', cursive;
            font-size: 80px;
        }
    </style>
</head>
<body>

@views.html.snippets.topnav()

<div class="container">
    <div class="hero-unit">
        <h1>The Guardian&rsquo;s SEO Dashboard</h1>
    </div>


    <div class="row-fluid">
        <div class="span12">
            <h2>What is the SEO Dashboard?</h2>
            <p>The SEO dashboard is an experimental live view of what's happening on the Guardian website right now.</p>
            <h2>Is it a replacement for Omniture?</h2>
            <p>No.  The reporting provided here is made on a best efforts basis, but wouldn't be suitable for an ABCe
                audit.  There are many jobs for which Omniture remains the best tool.</p>
            <h2>You said it's experimental, does that mean it might go away?</h2>
            <p>Yes, but that's less likely to happen if you let us know it's useful to you.</p>
            <h2>Who's it for?</h2>
            <p>It's available to all Guardian staff.  It's been developed with ideas from Chris Moran and Mary Hamilton
            providing feedback, but we hope it can help everyone make decisions.</p>
        </div>
    </div>
</div>

</body>
</html>
