<!DOCTYPE HTML>
<html style="height: 100%">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Page Views today</title>

    <script type="text/javascript" src="assets/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="assets/js/highcharts.js"></script>
    <script type="text/javascript" src="assets/js/themes/gray.js"></script>
    <script type="text/javascript" src="assets/js/chart.min.js"></script>

</head>
<body style="height: 100%">

<div id="page-views-graph" style="height: 95%"></div>

</body>
</html>
