@(host: String)
// ==UserScript==
// @@include	   http://www.guardian.co.uk/*
// @@include	   http://www.guardiannews.com/*
// @@include	   http://www.gucode.co.uk/*
// @@name           Guardian Heatmap
// @@namespace      http://www.guardian.co.uk/heatmap
// @@description    Shows a heat map (inspired by the bbc)
// @@version         0.1
// ==/UserScript==
console.log("Starting heatmap...");

var statsServer = "http://@host";

// a function that loads jQuery and calls a callback function when jQuery has finished loading
function addLibraries(callback) {
  var jqueryLoaded = false;
  var underscoreLoaded = false;
  var jquery = document.createElement("script");
  jquery.setAttribute("src", "http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js");
  jquery.addEventListener('load', function() {
    jqueryLoaded = true;
    console.log('jquery loaded');
    if (underscoreLoaded) {
      go();
    }
  }, false);
  var underscore = document.createElement("script");
  underscore.setAttribute("src", statsServer + "/assets/js/underscore-min.js");
  underscore.addEventListener('load', function() {
    underscoreLoaded = true;
    console.log('underscore loaded');
    if (jqueryLoaded) {
      go();
    }
  }, false);
  function go() {
    var script = document.createElement("script");
    script.textContent = "(" + callback.toString() + ")();";
    document.body.appendChild(script);
  }
  document.body.appendChild(jquery);
  document.body.appendChild(underscore);
}

// the guts of this userscript
function main() {
    var statsServer = "http://@host";

    // add our stylesheet
    $('head').append('<link rel="stylesheet" href="'+statsServer+'/assets/stylesheets/gm-heatmap.css" type="text/css" />');


    function makeHash(s) {
        var hash = 0;
        for (i = 0; i < s.length; i++) {
            hash = ((hash<<5)-hash)+s.charCodeAt(i);
            hash = hash & hash; // Convert to 32bit integer
        }
        return hash;
    }

    function updateStats() {
        console.log("Updating stats");
        var url = [location.protocol, '//', location.host, location.pathname].join('');
        $.getJSON(statsServer+"/api/linkCounts?page="+url+"&callback=?", function(result) {

            var validThingys = _.chain(result)
                .map(function(item) { item.node = $(item.sel); return item; })
                .filter(function(item){ return item.node && item.node.html() && (makeHash(item.node.html()) == item.hash) })
                .sortBy(function(item){ return item.count })
                .value();

            var size = validThingys.length;

            var finalResult = _(validThingys).map(function(item, index) {
                item.weight = ((index + 1.0) / size);
                item.chartPosition = size - index;
                return item;
            });

            $('[old-background]').each(function(index, item){
                var oldBackground = $(item).attr('old-background')
                if (oldBackground == 'no-background') {
                    $(item).css('background', '');
                } else {
                    $(item).css('background', oldBackground);
                }
            });

            $(".greasy-heatmap").remove();

            _(finalResult).each(function(item){
                var redness = Math.floor((1.0 - item.weight) * 255);
                var rgb = 'rgb(255,' + redness + ',' + redness + ')';

                var titleText = item.count + " hit" + (item.count == 1 ? "" : "s");
                var oldBackground = item.node.css('background') ? item.node.css('background') : "no-background";
                item.node.css('background', rgb);
                item.node.before('<span class="greasy-heatmap" style="background: ' + rgb + '" title="' + titleText + '">' +
                    item.chartPosition + '</span>');
                item.node.attr('old-background', oldBackground);
            });
        });

        window.setTimeout(updateStats, 5000);
    }

    updateStats();
}

// load libraries and execute the main function
addLibraries(main);