<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
    <link href='http://fonts.googleapis.com/css?family=Reenie+Beanie' rel='stylesheet' type='text/css'>

    @views.html.snippets.includes()

    <style>
        body {
            padding-top: 40px;
        }

        h1 {
            font-family: 'Reenie Beanie', cursive;
            font-size: 80px;
        }
    </style>
</head>
<body>

@views.html.snippets.topnav()

<div class="container">
    <div class="hero-unit">
        <h1>The Guardian&rsquo;s SEO Dashboard</h1>

        <p>What's going on right now?</p>
    </div>

    <div class="row">
        <div class="span4"></div>
        <div class="span4">
        </div>

    </div>

    <div class="alert alert-error">
        <h4 class="alert-heading">Switched Off</h4>
        Thanks for using the live dashboard on gnmfasteragain.
        Service continues at <a href="http://dashboard.ophan.co.uk">dashboard.ophan.co.uk</a>.
    </div>

</div>
</body>
</html>
