@(topStuff: lib.ListsOfStuff)
<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
    <link href='http://fonts.googleapis.com/css?family=Reenie+Beanie' rel='stylesheet' type='text/css'>

    @views.html.snippets.includes()

    <style>
        body {
            padding-top: 40px;
        }

        h1 {
            font-family: 'Reenie Beanie', cursive;
            font-size: 80px;
        }
    </style>
</head>
<body>

@views.html.snippets.topnav()

<div class="container">
    <div class="hero-unit">
        <h1>The Guardian&rsquo;s SEO Dashboard</h1>

        <p>What's going on right now?</p>
    </div>

    <div class="row">
        <p>
            <span class="label important">Important</span>
            This dashboard is still in relative infancy. If something looks wrong, it might well be wrong.
        </p>
    </div>

    <div class="row">
        <div class="span4">
            <h2>Top 20</h2>

            <p>Designed for local desktop use.</p>

            <p>Shows the top twenty most accessed pages over the last @topStuff.minutesOfData minutes, split into content pages
            and everything else.</p>

            <p><a class="btn" href="@routes.Application.top20()">Show Me &raquo;</a></p>
        </div>

        <div class="span4">
            <h2>Heatmap</h2>

            <p>A script to provide a heatmap of pages showing which links out from any given page
                to another Guardian page are most clicked.
            </p>

            <ul>
                <li>To use in Firefox, you'll need to install
                    <a href="https://addons.mozilla.org/en-US/firefox/addon/greasemonkey/">
                        the Greasemonkey add-on</a> then click the link below.
                </li>
                <li>
                    To use in Chrome, just click the link below.
                </li>

            </ul>

            <p><a class="btn" href="http://heatmap.ophan.co.uk/js/heatmap.user.js">Install &raquo;</a></p>
        </div>

        <div class="span4">
            <h2>Recently Published</h2>

            <p>
                Displays all content published on www.guardian.co.uk in the last 4 hours
                (using the <a href="http://content.guardianapis.com">Open Platform Content API</a>).
            </p>

            <p>
                Against each item of content shows the overall hits per second that item of content
                has received in the last @topStuff.minutesOfData minutes, the same number that is displayed
                on the top 20 charts.
            </p>

            <p><a class="btn" href="@routes.Application.content()">Show Me &raquo;</a></p>

        </div>
    </div>

    <div class="row">
        <div class="span4">
            <h2>Big Screen Top 10</h2>

            <p>The orignal classic-style dashboard, ideal for people who sit a long way from their screens,
                on mobile devices, or who can&rsquo;t find their glasses right now.</p>

            <p>Shows the top ten most accessed pages over the last @topStuff.minutesOfData minutes in a single Top of the Pops inspired list.</p>

            <p><a class="btn" href="@routes.Application.top10()">Show Me &raquo;</a></p>
        </div>
    </div>

    <footer>

        <a href="@routes.Application.about()">What is this?</a>
    </footer>
</div>

</body>
</html>
