@(request: controllers.AuthenticatedRequest[AnyContent], error: Option[String] = None)

<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
    <link href='http://fonts.googleapis.com/css?family=Reenie+Beanie' rel='stylesheet' type='text/css'>

    @views.html.snippets.includes()

    <style>
        body {
            padding-top: 40px;
        }
    </style>
</head>
<body>

@views.html.snippets.topnav()
<div>
    <div class="span3 offset3">
        <h1>Login</h1>

        <p>Please click the button to login with your google account.</p>

        @if(error.isDefined) {
        <div class="alert alert-error">
            <p>@error.get</p>
        </div>
        }

        <form action="/login" method="post">
            <input value="Log In" class="btn btn-primary" type="submit">
        </form>

    </div>

</div>

</body>
</html>